<template>
  <q-page class="flex flex-center">
    <img
      alt="Quasar logo"
      src="~assets/quasar-logo-vertical.svg"
      style="width: 200px; height: 200px"
    >

    <ejs-grid :dataSource='data' :allowGrouping='true'>
      <e-columns>
        <e-column field='OrderID' headerText='Order ID' textAlign='Right' :isPrimaryKey='true' width=100></e-column>
        <e-column field='CustomerID' headerText='Customer ID' width=120></e-column>
        <e-column field='ShipCountry' headerText='Ship Country' width=150></e-column>
      </e-columns>
    </ejs-grid>

  </q-page>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'PageIndex',

  data () {
    return {
      data: [
        {
          OrderID: 10248,
          CustomerID: 'VINET',
          ShipCountry: 'France'
        },
        {
          OrderID: 10249,
          CustomerID: 'TOMSP',
          ShipCountry: 'Germany'
        },
        {
          OrderID: 10250,
          CustomerID: 'VINET',
          ShipCountry: 'France'
        }]
    }
  }
})

</script>
