<template>
  <router-view />
  <hr>
  App.vue
  <ejs-grid :dataSource='data' :allowGrouping='true'>
    <e-columns>
        <e-column field='OrderID' headerText='Order ID' textAlign='Right' :isPrimaryKey='true' width=100></e-column>
        <e-column field='CustomerID' headerText='Customer ID' width=120></e-column>
        <e-column field='ShipCountry' headerText='Ship Country' width=150></e-column>
    </e-columns>
</ejs-grid>
</template>
<script>

import { defineComponent } from 'vue'
import { GridComponent, ColumnsDirective, ColumnDirective, Edit, Toolbar, Group } from '@syncfusion/ej2-vue-grids'

export default defineComponent({
  name: 'App',

  components: {
    'ejs-grid': GridComponent,
    'e-columns': ColumnsDirective,
    'e-column': ColumnDirective
  },

  data () {
    return {
      data: [
        {
          OrderID: 10248,
          CustomerID: 'VINET',
          ShipCountry: 'France'
        },
        {
          OrderID: 10249,
          CustomerID: 'TOMSP',
          ShipCountry: 'Germany'
        },
        {
          OrderID: 10250,
          CustomerID: 'VINET',
          ShipCountry: 'France'
        }]
    }
  },

  provide: {
    grid: [Edit, Toolbar, Group]
  }
})
</script>

<style>
@import '@syncfusion/ej2-base/styles/material.css';
@import '@syncfusion/ej2-grids/styles/material.css';
@import '@syncfusion/ej2-vue-grids/styles/material.css';
</style>
