<template>
  <router-view />
</template>
<script>
import { defineComponent } from 'vue'
import { Group } from '@syncfusion/ej2-vue-grids'

export default defineComponent({
  name: 'App',

  // ejs-grid grouping does not work without this provide, even it is set at boot/syncfusion.js
  provide: {
    grid: [Group]
  }
})
</script>
